<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>会员</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/info/member.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>

</head>
<body data-spy="scroll" data-target="#myScrollspy">
<div th:fragment="header">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/member/login}">Inn+</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li th:class="${page.equals('home')} ? 'active'"><a th:href="${page.equals('home')} ? '#' : @{/member/home}" >会员信息</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li th:class="${page.equals('book')} ? 'active'"><a th:href="${page.equals('book')} ? '#' : @{/member/book}" >预定客栈</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li th:class="${page.equals('statistic')} ? 'active'"><a th:href="${page.equals('statistic')} ? '#' : @{/member/statistic}" >统计分析</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="blank10"></div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="125">
                <li class="active"><a href="#info">基本信息</a></li>
                <li><a href="#password">修改密码</a></li>
                <li><a href="#card">会员卡信息</a></li>
                <li><a href="#exchange">兑换、充值</a></li>

            </ul>
        </div>
        <div class="col-xs-9" id="lists">
            <!--基本信息-->
            <h3 id="info">基本信息</h3>
            <div class="blank20"></div>
            <form>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">姓名</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="username" th:value="${member.getName()}" id="memberName"/>
                </div>
            </div>
            <div class="blank10"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">电话</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="phone" th:value="${member.getPhoneNumber()}" id="phone"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">银行卡号</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="bank" th:value="${card.getBankCard()}" id="bankCard"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">会员状态</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${card.getStatus()}" id="status" readonly="readonly"/>
                </div>
            </div>
            <div class="blank10"></div>
            </form>

            <div class="row">
                <div class="col-sm-2 col-sm-offset-4">
                    <button type="button" class="btn btn-primary" id="editInfo">修改信息</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" id="stop">取消资格</button>
                </div>
            </div>
            <div id="tip"></div>
            <div class="blank30"></div>
            <div th:if="${tip!=null}">
                <div id="qualification" th:value="${tip.getInfo()}" hidden="hidden"></div>
                <script type="text/javascript">
                    $(function(){
                        showFailure($("#qualification").val())
                    });
                </script>

            </div>

            <hr/>
            <!--修改密码-->
            <h3 id="password">修改密码</h3>
            <div class="blank20"></div>
            <form role="form" method="post" th:action="@{/member/changepwd}">
            <div class="row" >
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">请输入原始密码</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="originPassword"/>
                </div>
            </div>
            <div class="blank10"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">请输入新密码</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="password"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">再次输入新密码</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="password" class="form-control" name="passwordTwice"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-6">
                    <button type="submit" class="btn btn-primary">确认</button>
                </div>
            </div>
            </form>
            <div class="blank30"></div>
            <hr/>

            <!--会员卡信息-->
            <h3 id="card">会员卡信息</h3>
            <div class="blank10"></div>
            <h5>顶级会员：会员消费满3000元</h5>
            <h5>高级会员：会员消费满1000元</h5>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">会员卡ID</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${card.getId()}" readonly="readonly"/>
                </div>
            </div>
            <div class="blank10"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">账户余额</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${card.getBalance()}" id="balance" readonly="readonly"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">会员等级</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${level} + '会员（消费'+ ${card.getConsumeAmount()} + '，可享受'+ ${discount}+ '%折扣)'" readonly="readonly"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">积分</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${card.getCredit()}" id="credit_show" readonly="readonly"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">激活日期</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${card.getActivateDate()}" readonly="readonly"/>
                </div>
            </div>
            <div class="blank30"></div>
            <hr/>

            <!--会员卡信息-->
            <h3 id="exchange">积分兑换</h3>
            <div class="blank10"></div>
            <h4>积分兑换规则：10 积分 = 1 元</h4>
            <div class="blank20"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">兑换积分</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="credit"/>
                </div>
            </div>
            <div class="blank10"></div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-6">
                    <button type="submit" class="btn btn-primary" id="exchange_credit">确认</button>
                </div>
            </div>
            <div class="blank20"></div>

            <h3>会员卡充值</h3>
            <div class="blank10"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">银行卡号</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="bank"/>
                </div>
            </div>
            <div class="blank10"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">充值金额</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="money"/>
                </div>
            </div>
            <div class="blank10"></div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-6">
                    <button type="submit" class="btn btn-primary" id="pay_fee">确认</button>
                </div>
            </div>
            <div class="blank30"></div>

        </div>
    </div>
</div>


<div th:include="login::copy"></div>

</body>
</html>