<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>统计分析</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/form-elements.css"/>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>

</head>
<body data-spy="scroll" data-target="#myScrollspy">
<div th:include="member/home::header"></div>
<!-- Top content -->
<div class="top-content">
    成功

</div>

<div th:include="login::copy"></div>

</body>
</html>