<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客栈信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <!--<link rel="stylesheet" href="/css/form-elements.css"/>-->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/bootstrap-table.css"/>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/hotel-table.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--<script src="/js/scripts.js"></script>-->
    <script src="/js/jquery.backstretch.min.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>

</head>
<body data-spy="scroll" data-target="#myScrollspy">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Inn+</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class='active'><a href="#" >店面信息</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/hotel/stay}" >住宿登记</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/hotel/statistic}">统计信息</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="blank20"></div>
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="125">
                <li class="active"><a href="#info">客栈信息</a></li>
                <li><a href="#password">修改密码</a></li>
                <li><a href="#room">房间信息</a></li>

            </ul>
        </div>
        <div class="col-xs-9" id="lists">
            <!--客栈信息-->
            <h3 id="info">客栈信息</h3>
            <div class="blank20"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">客栈名</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${hotel.getName()}"/>
                </div>
            </div>
            <div class="blank20"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">客栈地址</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${hotel.getAddress()}"/>
                </div>
            </div>
            <div class="blank20"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">客栈ID</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${hotelId}" disabled="true"/>
                </div>
            </div>
            <div class="blank20"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">客栈状态</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" th:value="${hotel.getStatus()}" disabled="true"/>
                </div>
            </div>
            <div class="blank20"></div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-6">
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>

            <div class="blank30"></div>
            <hr/>

            <!--修改密码-->
            <h3 id="password">修改密码</h3>
            <div class="blank20"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">请输入原始密码</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="blank20"></div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">请输入新密码</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="blank20"></div>

            <div class="row">
                <div class="col-sm-3 col-sm-offset-1">
                    <h4><span class="label label-default">再次输入新密码</span></h4>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="blank20"></div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-6">
                    <button type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
            <div class="blank30"></div>
            <hr/>

            <!--房间信息-->
            <h3 id="room">房间信息</h3>
            <div class="table-responsive" style="padding-left: 10%;width: 90%">
                <div id="toolbar" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#add">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                    <button id="btn_edit" type="button" class="btn btn-default" data-toggle="modal" data-target="#edit">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                    </button>
                    <button id="btn_delete" type="button" class="btn btn-default" data-toggle="modal" data-target="#delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                    </button>
                </div>

                <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">添加记录</h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="javascript:void(0)">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="roomNumber" placeholder="请输入房间号"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="type" placeholder="请选择房间类型"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="prize" placeholder="请输入价格"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="addRecord">提交</button>
                            </div>
                        </div>
                    </div>
                </div>

                <table id="table"></table>
                <script>


                </script>
            </div>
        </div>
    </div>
</div>

<div th:include="login::copy"></div>

</body>
</html>