<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>
    <p>This is the welcome page</p>


    <!--<h3>按钮</h3>-->
    <!--<button type="button" class="btn btn-default">按钮</button>-->
    <!--<button type="button" class="btn btn-primary">primary</button>-->
    <!--<button type="button" class="btn btn-success">success</button>-->
    <!--<button type="button" class="btn btn-info">info</button>-->
    <!--<button type="button" class="btn btn-warning">warning</button>-->
    <!--<button type="button" class="btn btn-danger">danger</button>-->

    <!--<h3>按钮尺寸</h3>-->
    <!--<button type="button" class="btn btn-default">按钮</button>-->
    <!--<button type="button" class="btn btn-primary btn-lg">primary</button>-->
    <!--<button type="button" class="btn btn-success btn-sm">success</button>-->
    <!--<button type="button" class="btn btn-info btn-xs">info</button>-->

    <!--<h3>把图标显示在按钮里</h3>-->
    <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;按钮</button>-->
</body>
</html>